__pycache__/*
env_thermal_sys.yml
.vscode/
Renewable_Energy_Heat.code-workspace

Cold Room Parametric Study.docx
_Final_code/Alberto_Emre_Juan_ParametricStudyColdRoom_SourceCode.7z
Alberto_Emre_Juan_ParametricStudyColdRoom.zip
Alberto_Emre_Juan_ParametricStudyColdRoom_report_v2.pdf
